@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #ffffff;
}

.lista h2 {
	color: red;
}

/*========== navegador ======= */
.top-nav ul{
    margin: 5px;
    padding: 5px;
    padding-right: 10%;
    list-style: none;
font-family: 'Roboto', sans-serif;
    font-size: 16x;
    text-align: right;
    color: #5e6c83;
}
.top-nav li{
     display: inline-block;
}
.top-nav a{
    text-decoration: none;
    padding: 9px;
    color: #5e6c83;

}
.top-nav a:hover{

    color: #5e6c83;
    border-bottom: 3px solid #fe7ba4;
    

}


/*========== cadastro ======= */

.contact-form{
    background: #fff;
    margin-top: 11%;

    width: 35%;
    color: #5e6c83;
margin-left:10%;

}
.contact-form .form-control{
    border-radius:0.3rem;
    width: 60%;
    padding: 1%;
    margin: 1.5%;
    border-color: #A7BED3;
    border-style: solid;
    border-width: 1px;
}


/*========== login ======= */
.loginImageBack img {
	    position: absolute;
    top: 40%; 
    left: 75%;
    transform: translate(-50%, -50%);  
}


.loginIcon {
    border-radius: 6rem;
    width: 7%;
    margin-top: -3%;
    margin-left: 10%;
}
.loginBotao  {
	  background-color: #fe7ba4;
  border-style: solid;
  border-color: #fe7ba4;
  color: white;
width: 50%;
padding: 3px;
  text-align: center;
  font-size: 16px;
  margin-top: 5%;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
}
.loginBotaoCadastro  {
	  background-color: #ffffff;
  border: 1px solid #fe7ba4;
  color: #fe7ba4;
width: 50%;
padding: 3px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
}
.loginBotaoCadastro a:link, a:visited, a:hover, a:active  {
  text-decoration: none;
  color: inherit; 
}

/*========== .contact-form form {} ======= */ 
.contact-form h2{
    margin-bottom: 6%;
    margin-top: -12%;
    color: #5e6c83;
}

/*========== cadastro sucesso ======= */ 
.contact-form .btnContact {
	  background-color: #fe7ba4;
  border-style: solid;
  border-color: #fe7ba4;
  color: white;
width: 50%;
padding: 3px;
  text-align: center;
  font-size: 16px;
  margin-top: 5%;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
}
.NovoContatoBotao  {
	background-color: #ffffff;
	border: 1px solid #fe7ba4;
	color: #fe7ba4;
	width: 100%;
	padding: 3px;
	margin-top: 15%;
	text-align: center;
	font-size: 16px;

	text-decoration: none;
	cursor: pointer;
}
.NovoContatoBotao2  {
	background-color: #ffffff;
	border: 1px solid #fe7ba4;
	color: #fe7ba4;
	width: 100%;
	padding: 3px;
	margin-top: 15%;
	text-align: center;
	font-size: 16px;

	text-decoration: none;
	cursor: pointer;
}
.NovoContatoBotao a:link, a:visited, a:hover, a:active  {
  text-decoration: none;
  color: #fe7ba4; 
}
.NovoContatoIcone  {

	height: 70px;

}







.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}



.teste h1 {
	color: white; 
	text-align: center; 
	margin:15%;
	
}
.h3cadastro  {
    color: #5e6c83;
    text-align: center;
    font-size: 25px;
}

.contatoSucesso {
	background: #ffffff;
	height: 100%;
	padding-bottom: 100%;
	color: #343a40;
	padding-top: 10px;
	margin-left: -10px;
}
.resultadoCadastro img {
	width: 6%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.titulo {
	color: #5e6c83;
	font-size: 14px; 
	margin-left: 35%;
	
}

.conteudo {
	color: #69727b;
	font-size: 14px; 
	text-align: center;
}
.csBotao {
	padding-top: 30px;
	padding-right: 30px;
	text-align: right;
}


.csBotao .btnContact
{
 
	  background-color: #fe7ba4;
  border-style: solid;
  border-color: #fe7ba4;
  color: white;
width: 50%;
padding: 3px;
  text-align: center;
  font-size: 12px;
  margin-top: 5%;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;

}




.menu h1 {
    color: #0a1927;
    text-align: center;
    font-size: 25px;
}

.menu {
	background: #fff;
	height: 100%;
	padding-bottom: 100%;
	color: black;
	padding-top: 10px;
	padding-left: 5%;
	margin-left: -10px;
}

.containerLista {
		background: #f4f8f9;
	height: 100%;
	padding-bottom: 100%;
	color: black;
	padding-top: 10px;
	padding-left: 5%;
	margin-left: -10px;
	
}
.tableLista table {
  width: 90%;
      border-radius: 2rem;
    border-collapse: separate;
  border-spacing: 0 8px;
}

.tabletitulo  {
	background: #f4f8f9;
	padding-bottom: 5px;
	padding-left: 5px; 
	    font-size: 14px;
	
}

.tableLista th {
  font-weight: normal;
  text-align: left;
}
.tableLista th, td {
  padding: 0.1em 1em;
  background: #ffffff;
	padding:10px;
}
.tableLista tr:hover td{
	background: #e7f4fb;
}
.tablelista a {
    text-decoration: none;	
}
.containerLista img {
	height: 5%;
	
}
.menu {
widht: 100%;	

}
.menu h1 {
	font-size: 36px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #5e6c83;
		text-align: center;
}
.menu h4 {
	padding-top: 20px;
	padding-bottom: 20px;
		color: #5e6c83;
			text-align: center;
}
.menu img {
	height: 25px;
}
.botaoIndex {
	background-color: #ffffff;
	border: 1px solid #fe7ba4;
	color: #fe7ba4;
	width: 100%;
	padding: 7px;
	margin-top: 15%;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
}
.botaoIndex a:link{
    text-decoration: none;
color: #fe7ba4;
}
.botaoIndex a:visited{
    text-decoration: none;
color: #fe7ba4;
}




.invalidLogin img {
	height: 80px;
		display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}
.invalidLogin h1 {
	text-align: center;
	color: #5e6c83;
}
.invalidLogin h4 {
	text-align: center;
	color: #5e6c83;
}
.invalidLogin .btnInvalidLogin { 
	  background-color: #fe7ba4;
  border-style: solid;
  border-color: #fe7ba4;
  color: white;
width: 50%;
padding: 3px;
  text-align: center;
  font-size: 12px;
  margin-top: 5%;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
}
