@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
body{
font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #ffffff;
}

.lista h2 {
	color: red;
}

/*========== navegador ======= */
.top-nav ul{
    margin: 5px;
    padding: 5px;
    padding-right: 10%;
    list-style: none;
font-family: 'Roboto', sans-serif;
    font-size: 16x;
    text-align: right;
    color: #5e6c83;
}
.top-nav li{
     display: inline-block;
}
.top-nav a{
    text-decoration: none;
    padding: 9px;
    color: #5e6c83;

}
.top-nav a:hover{

    color: #5e6c83;
    border-bottom: 3px solid #fe7ba4;
    

}


/*========== cadastro ======= */

.contact-form{
    background: #fff;
    margin-top: 11%;
font-size: 14px;
    width: 35%;
    color: #5e6c83;
margin-left:15%;

}
.contact-form .form-control{
    border-radius:0.3rem;
    width: 60%;
    padding: 1%;
    margin: 1.5%;
    border-color: #A7BED3;
    border-style: solid;
    border-width: 1px;
}


/*========== login ======= */
.loginImageBack img {
	    position: absolute;
    top: 45%; 
    left: 70%;

        height: 60%;
    transform: translate(-50%, -50%);  
}

.loginBotao  {
	  background-color: #fe7ba4;
  border-style: solid;
  border-color: #fe7ba4;
  color: white;
width: 50%;
padding: 3px;
  text-align: center;
  font-size: 16px;
  margin-top: 10%;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
          margin-left: 8%;
}
.loginBotaoCadastro  {
	  background-color: #ffffff;
  border: 1px solid #fe7ba4;
  color: #fe7ba4;
width: 50%;
padding: 3px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
            margin-left: 8%;
}
.loginBotaoCadastro a:link, a:visited, a:hover, a:active  {
  text-decoration: none;
  color: inherit; 
}
.loginCabecalho {
	        margin-left: 2%;

}
/*========== .contact-form form {} ======= */ 
.contact-form h2{
    margin-bottom: 6%;
    margin-top: -12%;
    color: #2e2e2e;
    font-size: 30px;
        margin-left: 6%;
font-family: 'Abril Fatface', cursive;
}
.contact-form h3{
        margin-left: 15%;
padding-bottom: 5%;
    color: rgba(0, 0, 0, 0.54);
font-size: 20px;
font-family: 'PT Sans Narrow', sans-serif;

}

/*========== cadastro sucesso ======= */ 
.contact-form .btnContact {
	  background-color: #fe7ba4;
  border-style: solid;
  border-color: #fe7ba4;
  color: white;
width: 50%;
padding: 3px;
  text-align: center;
  font-size: 16px;
  margin-top: 5%;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
}
.NovoContatoBotao  {
	  background-color: #ffffff;
  border: 1px solid #fe7ba4;
  color: #fe7ba4;
width: 50%;
padding: 3px;
padding-left: 40px;
padding-right: 40px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
font-size: 12px;
margin-left: 48px;
}
.NovoContatoBotao2  {
	  background-color: #ffffff;
  border: 1px solid #fe7ba4;
  color: #fe7ba4;
width: 50%;
padding: 3px;
padding-left: 10px;
padding-right: 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
font-size: 12px;
}
.NovoContatoBotao a:link, a:visited, a:hover, a:active  {
  text-decoration: none;
  color: inherit; 
}

.CadastroBotaoEnviar  {
	  background-color: #fe7ba4;
  border-style: solid;
  border-color: #fe7ba4;
  color: white;
width: 50%;
padding: 3px;
  text-align: center;
  font-size: 14px;
  margin-top: 20%;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
          margin-left: 8%;
}

.CadastroImageBack img {
	    position: absolute;
    top: 55%; 
    left: 71%;

        height: 90%;
    transform: translate(-50%, -50%);  
}





.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}



.teste h1 {
	color: white; 
	text-align: center; 
	margin:15%;
	
}
.h3cadastro  {
    color: #5e6c83;
    text-align: center;
    font-size: 25px;
}

.contatoSucesso {
	background: #ffffff;
	height: 100%;
	padding-bottom: 100%;
	color: #343a40;
	padding-top: 10px;
	margin-left: -10px;
}
.resultadoCadastro img {
	width: 6%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.titulo {
	color: #5e6c83;
	font-size: 14px; 
	margin-left: 35%;
	
}

.conteudo {
	color: #69727b;
	font-size: 14px; 
	text-align: center;
}
.csBotao {
	padding-top: 30px;
	padding-right: 30px;
	text-align: right;
}


.csBotao .btnContact
{
 
	  background-color: #fe7ba4;
  border-style: solid;
  border-color: #fe7ba4;
  color: white;
width: 50%;
padding: 3px;
  text-align: center;
  font-size: 12px;
  margin-top: 5%;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;

}




.menu h1 {
    color: #0a1927;
    text-align: center;
    font-size: 25px;
}

.menu {
	background: #fff;
	height: 100%;
	padding-bottom: 100%;
	color: black;
	padding-top: 10px;
	padding-left: 5%;
	margin-left: -10px;
}

.containerLista {

	height: 100%;
	padding-bottom: 100%;
	color: black;
	padding-top: 10px;
	padding-left: 5%;
	margin-left: -10px;
	
}
.containerLista h1 {
		    margin-bottom: 2%;
    color: #2e2e2e;
    font-size: 30px;

font-family: 'Abril Fatface', cursive;
}

.tableLista table {
  width: 95%;


}

.tabletitulo  {
font-family: 'PT Sans Narrow', sans-serif;
	
	padding-bottom: 5px;
background: #f4f1f2;
	    font-size: 16px;
}

.tableLista th{

	padding:7px;
		    font-size: 14px;
  border-bottom: 1px solid #f4f1f2;

}
.tableLista td {

	padding:7px;
		    font-size: 14px;
  border-bottom: 1px solid #f4f1f2;

}
.tableLista tr:hover td{
	background: #f4f4f4;
}
.tablelista a {
    text-decoration: none;	
}
.containerLista img {
	height: 5%;
	
}
.ListaImagemVazia img {
margin-left: 37%;
	height: 250px;

	margin-bottom: 2%;
}
.ListaH2  {
	    margin-bottom: 6%;
    margin-top: -12%;
    color: #2e2e2e;
    font-size: 30px;
        margin-left: 6%;
font-family: 'Abril Fatface', cursive;
}
.ListaBotaoEnviar {
		  background-color: #fe7ba4;
  border-style: solid;
  border-color: #fe7ba4;
  color: white; 
padding: 3px;
padding-left: 20px;
padding-right: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 20%;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;

}


.menu {
widht: 100%;	

}
.menu h1 {
	font-size: 36px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #5e6c83;
		text-align: center;
		
		
    color: #2e2e2e;

font-family: 'Abril Fatface', cursive;
}
.menu h4 {

padding-bottom: 5%;
    color: rgba(0, 0, 0, 0.54);
font-size: 20px;
font-family: 'PT Sans Narrow', sans-serif;
			text-align: center;
			
			
}
.menu img {
	height: 25px;
}
.botaoIndex1 {
	background-color: #ffffff;
	border: 1px solid #fe7ba4;
	color: #fe7ba4;
	width: 100%;
	padding: 10px;
	margin-top: 5%;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	margin-left: 35%;
}
.botaoIndex {
	background-color: #ffffff;
	border: 1px solid #fe7ba4;
	color: #fe7ba4;
	width: 100%;
	padding: 10px;
	margin-top: 5%;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
}
.botaoIndex a:link{
    text-decoration: none;
color: #fe7ba4;
}
.botaoIndex a:visited{
    text-decoration: none;
color: #fe7ba4;
}


.AlteraH2  {
	    margin-bottom: 6%;
    margin-top: -12%;
    color: #2e2e2e;
    font-size: 30px;
        margin-left: 6%;
font-family: 'Abril Fatface', cursive;
}

.invalidLogin img {
	height: 80px;
		display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}
.invalidLogin h1 {
	text-align: center;
	color: #5e6c83;
}
.invalidLogin h4 {
	text-align: center;
	color: #5e6c83;
}
.invalidLogin .btnInvalidLogin { 
	  background-color: #fe7ba4;
  border-style: solid;
  border-color: #fe7ba4;
  color: white;
width: 50%;
padding: 3px;
  text-align: center;
  font-size: 12px;
  margin-top: 5%;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
}
