.preco::before {
  content: "R$"
}

.cardapio {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.descricao {
  background-color: #77191a;
  text-align: center;
  color: white;
  height: 25px;
  padding: 10px;
}

.hot-dog {
  margin: 15px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .cardapio {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  footer {
    position: initial !important;
  }
}