.mapa {
    width: 35vh;
    height: 35vh;
}

h1 {
    font-size: 40px;
}

p, h1, h2, h3, h4, h5 {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .cardapio {
      margin: 50px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
    footer {
      position: initial !important;
    }
  }