
p {
    color: aliceblue;
}

a {
    text-decoration: none;
}

.header {
    margin: -.618em -1em;
    padding: 15px 24px;
    background-color: #77191a;
}

.header-itens {
    display: inline-block;
    vertical-align: middle;

    font-family: proxima-nova;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;

    letter-spacing: .2em;
    text-transform: uppercase;
    padding-right: 30px;

    color: white;
}

.teste {
    font-size: 50px;
}